# Dependencies
node_modules/
.npm
package-lock.json

# Web Build (Enabled for this project)
# dist/

# iOS - DO NOT ignore .xcodeproj or .xcworkspace
ios/App/Pods/
ios/App/Podfile.lock
ios/App/build/
ios/App/App/public/
ios/App/App/capacitor.config.json

# Only ignore user settings and schemes that are purely local
*.xcuserdata
*.xccheckout
*.xcscheme
# !ios/App/App.xcodeproj
# !ios/App/App.xcworkspace

# OS files
.DS_Store
Thumbs.db
.fseventsd

# Secrets
.env
.env.*
